box-sizing: border-box;ß

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

#divCanvas3 {
  height: 50px;
  width: 200px;
  background-color: green;
  display: inline-block;
}